<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间 绑定一个对应的Mapper接口-->
<mapper namespace="com.halo.mapper.UserMapper">

    <!--select 查询语句-->
    <!--id 对应方法名 resultType 返回类型(全限定名)-->
    <select id="getUserList" resultType="com.halo.pojo.User">
        select *
        from mybatis.user;
    </select>

    <!--parameterType 参数类型-->
    <select id="getUserByID" parameterType="int" resultType="com.halo.pojo.User">
        select *
        from mybatis.user
        where id = #{id};
    </select>

    <!--insert 插入语句-->
    <insert id="addUser" parameterType="com.halo.pojo.User">
        insert into mybatis.user(id, name, pwd)
        values (#{id}, #{name}, #{pwd});
    </insert>

    <!--update 修改-->
    <update id="updateUser" parameterType="com.halo.pojo.User">
        update mybatis.user
        set name = #{name},
            pwd=#{pwd}
        where id = #{id};
    </update>

    <!--delete 删除-->
    <delete id="deleteUser" parameterType="int">
        delete
        from mybatis.user
        where id = #{id};
    </delete>
</mapper>
